*{
    margin: 0;
    padding:0;;
}

body{
    background-color: #ede0d4;
    text-align: center;
}

h1{
    margin-top: 30px;
    font-size: 8vmin;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:2vmin;
}

.box{
    background-color: #ddb892;
    height:18vmin;
    width: 18vmin;
    border-radius: 20px;
    font-size: 8vmin;
    color: #7f5539;
}

.reset-btn{
    background-color: #7f5539;
    color: #ede0d4;
    /* border: none; */
    padding: 1vmin 3vmin;
    border-radius: 10px;
    font-size: 3vmin;
    cursor: pointer;
    margin-top: 2vmin;
    margin-bottom: 30px;
}

.new-btn{
    background-color: #7f5539;
    color: #ede0d4;
    /* border: none; */
    padding: 1vmin 3vmin;
    border-radius: 10px;
    font-size: 3vmin;
    cursor: pointer;
    margin-top: 2vmin;
}

.msg-container{
    height:100vmin;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4rem;
}

#msg{
    font-size: 5vmin;
    color: #7f5539;
}

.hide{
    display: none;
}